@import "../core/scss/standard";

.content-text{
	font-family: arial, sans-serif; 
	font-size: 13px; 
	color: #414042;
}

.footer-text{
	font-family: arial, sans-serif; 
	font-size: 11px; 
	color: #414042;
	margin:15px auto;
}

 @media screen and (max-width : 400px) {
 	
 }